/* styles topbar */

.navbar {
    height: 80px;
    background: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 320px;
    height: 40px;

    border: 1px solid rgba(84, 95, 125, 0.2);
    border-radius: 8px 0 0 8px;

    padding: 0 12px;
}

.search button {
    height: 40px;
    width: 50px;

    border: none;
    background: #39cdcc;
    color: white;

    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.username {
    font-size: 14px;
    font-weight: 600;
    color: #213f7d;
}