/* styles topbar */

.navbar {
    font-family: "Work Sans", sans-serif;
    height: 80px;
    background: #FFFFFF;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);
    top: 0;
    position: sticky;
    align-items: center;
    z-index: 10;
    
    .navItems {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .logo {            
            p {
                display: flex;
                align-items: center;
                font-size: 30px;
                font-weight: 700;
                color: #213F7D;
                margin: 0;
            
                img {
                    height: 20px;
                    padding-right: 6px;
                }
            }

        }

        .search {
            display: flex;
            align-items: center;
            margin: 20px;

            input {
                width: 400px;
                height: 40px;

                border: 1px solid rgba(84, 95, 125, 0.2);
                border-radius: 8px 0 0 8px;
                padding: 0 18px;
                outline: none;

                &::placeholder {
                    color: rgba(84, 95, 125, 0.7);
                }
            }

            button {
                display: flex;
                height: 43px;
                width: 50px;
                align-items: center;
                justify-content: center;

                border: none;
                background: #39cdcc;
                color: #FFFFFF;

                border-radius: 0 8px 8px 0;
                cursor: pointer;
            }            
        }

        .profile {
            display: flex;
            align-items: center;
            gap: 20px;

            .docs{
                text-decoration: underline;
                color: #213F7D;
            }

            .bell {
                font-size: 20px;
                cursor: pointer;
            }

            .userSection {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                color: #213F7D;

                .avatar {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .employee {
                    font-size: 14px;
                    font-weight: 600;
                    color: #213F7D;
                }                 
            }          
        }       
    }
}
