/*  styles global layout*/

.layoutWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #f7f8fa;
}

.layoutBody {
    display: flex;
    flex: 1;
    overflow: hidden;

    .mainContent {
        flex: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        background: #FBFBFB;
        transition: margiin-left 0.3s ease;
    }

    @media (max-width: 768px) {
        .mainContent {
            margin-left: 5px;
        }
    }
}