/*  styles global layout*/

.layoutWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #f7f8fa;
}

.layoutBody {
    display: flex;
    flex: 1;
    overflow: hidden;

    .mainContent {
        flex: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        background: #FBFBFB;
    }
}