.container {
    padding: 30px 30px;
    font-family: 'Work Sans', sans-serif;
    color: #213F7D;

    .backBtn{
        background: none;
        border: none;
        display: flex;
        align-items: center;
        gap: 15px;
        color: #545f7d;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 25px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        h1 {
            font-size: 24px;
            font-weight: 500;
        }

        .Buttons {
            display: flex;
            gap: 20px;

            button {
                padding: 12px 18px;
                border: 1px solid;
                align-items: center;
                cursor: pointer;
                border-radius: 8px;
                height: 40px;
                width: 170px;
                font-size: 14px;
                text-transform: uppercase;
                background: none;
                font-weight: 600;
            }

            .blacklistBtn {
                border-color: #E4033B;
                color: #E4033B;
            }

            .activateBtn {
                border-color: #39CDCC;
                color: #39CDCC;
            }
        }
    }

    .summaryCard {
        background: #FFFFFF;
        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        width: 906px;
        height: 180px;
        padding: 30px 30px 0px 30px;
        margin-bottom: 30px;

        .topInfo {
            display: flex;
            align-items: center;
            gap: 30px;
            margin-bottom: 50px;

            .userAvatar {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .vDivider {
                width: 1px;
                height: 80px;
                background: rgba(84, 95, 125, 0.2);
            }

            h2 {
                 font-size: 22px;
                 margin-bottom: 5px;
            }

            p {
                font-size: 14px;
                color: #545f7d;
            }
        }

        .tabs {
            display: flex;
            justify-content: space-between;
        
            span {
                padding-bottom: 6px;
                cursor: pointer;
                font-size: 16px;
                color: rgba(0, 0, 0, 0.8);
                border-bottom: 2px solid transparent;

                &.active {
                    color: #39CDCC;
                    border-bottom: 2px solid #39CDCC;
                }
            }
        }
    }

    .detailsBody {
        background: #FFFFFF;
        padding: 30px;
        border-radius: 4px;
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);

        section {
            margin-bottom: 30px;
            h3 {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 30px;
            }
        }

        .hDivider {
            width: 100%;
            height: 0px;
            top: 751px;
            left: 373px;
            opacity: 0.1;
            border-width: 1px;
            border: 1px solid #213F7D;
        }

        .infoGrid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 30px;

            .infoItem {
                // div {
                    padding-top: 4px;
                    padding-bottom: 4px;
                // }

                label {
                    font-size: 12px;
                    font-weight: 400;
                    color: #545F7D;
                    display: block;
                    margin-bottom: 8px;
                }

                .hDivider2 {
                    width: 100%;
                    height: 0px;
                    top: 751px;
                    left: 373px;
                    opacity: 0.1;
                    border-width: 1px;
                    border: 1px solid #213F7D;
                }                

                p {
                    font-size: 16px;
                    font-weight: 500;
                    color: #545F7D;
                    text-transform: capitalize;
                }
            }
        }

        hr {
            border: none;
            border-top: 1px solid rgba(33, 63, 125, 0.1);
            margin: 30px 0;
        }
    }
}