/*  styles sidebar navigation */

.sidebar {
    font-family: "Work Sans", sans-serif;
    width: 283;
    height: 1574;
    opacity: 1;

    background: white;
    border-right: 1px solid rgba(33, 63, 125, 0.1);

    padding: 30px 20px;
    z-index: 0;
}

.navLinks {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navLinks a {
    font-size: 14px;
    color: #545f7d;
    text-decoration: none;
}

.navLinks a.active {
    color: #39cdcc;
    font-weight: 600;
}