/*  Styles the Users page table layout.
*/

.usersPage {
    padding: 40px 10px 40px 20px;
    font-family: "Work Sans", sans-serif;
    background: #FBFBFB;

    .title {
        font-size: 24px;
        font-weight: 500;
        color: #213F7D;
        margin-bottom: 30px;
    }

    .summaryCards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding-bottom: 25px;

        div {
            background: #FFFFFF;
            // border: 1px solid;
            // $border-color;
            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
            border-radius: 4px;
            padding: 20px 30px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            width: 240;
            height: 160;
            top: 228px;
            // left: 609px;
            border-width: 1px;
            opacity: 1;
            border-radius: 4px;

            width: 240;
            height: 160;
            top: 228px;
            left: 609px;
            border-width: 1px;
            opacity: 1;


            .icon-wrapper {
                width: 40;
                height: 40;
                top: 248px;
                left: 905px;
                opacity: 1;

            }

            span:first-of-type {
                text-transform: uppercase;
                font-size: 12px;
                color: #545F7D;
                padding-top: 7px;
                // margin-bottom: 8px;

                width: 139;
                height: 16;
                top: 302px;
                left: 905px;
                opacity: 1;

                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                text-transform: uppercase;
            }

            h2 {
                left: 905;
                color: #213F7D;
                font-weight: 600;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0%;
                text-transform: uppercase;
            }
        }
    }

    .tableWrapper {
        // background: white;
        // border: 1px solid rgba(33, 63, 125, 0.1);
        // border-radius: 10px;
        // overflow-x: auto;

        padding: 20px;
        // width: 1037;
        // height: 640;
        // top: 428px;
        // left: 343px;
        border-radius: 4px;
        // opacity: 1;

        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        background: #FFFFFF;
        overflow-x: auto;

        .table {
            width: 100%;
            border-collapse: collapse;

             thead {

                th {
                    text-align: left;
                    font-size: 12px;
                    padding: 15px 5px;
                    color:#545F7D;
                
                    white-space: nowrap;
                    text-transform: uppercase;

                    img {
                        margin-left: 5px;
                        cursor: pointer;
                        vertical-align: middle;
                    }
                }
            }

            tbody {
                .row {
                    border-bottom: 1px solid rgba(33, 63, 125, 0.1);
                    transition: background 0.2s;
                    
                    &:last-child { border-bottom: none; }
                    &:hover { background-color: rgba(57, 205, 204, 0.03); }

                    td {
                        cursor: pointer;
                        height: 50px;
                        padding: 20px 10px;
                        color: #545F7D;
                        vertical-align: middle;
                        cursor: pointer;
                        padding: 20px 10px;
                        font-size: 14px;
                        white-space: nowrap;
                    }

                    .statusCell {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        text-transform: capitalize;
                        text-align: left;
                        gap: 20px;

                        .pill {
                            padding: 7px 15px;
                            border-radius: 100px;
                            font-weight: 400;
                            text-align: center;
                            width: fit-content;                            

                            /*status dynamic colors*/
                            &.active {
                                background: rgba(57, 205,204, 0.05);
                                color: #39cdcc;
                            }

                            &.inactive {
                                background: rgba(84, 95, 125, 0.15);
                                color: #545f7d;
                            }

                            &.pending {
                                background: rgba(233, 178, 0, 0.15);
                                color: #545f7d;
                            }

                            &.blacklisted {
                                background: rgba(228, 3, 59, 0.1);
                                color: #E4033B;
                            }                            
                        }

                        .moreIcon {
                            cursor: pointer;
                            padding: 5px;
                            // justify-content: right;
                            // align-self: right;
                        }
                    }
                }
            }
        }
    }

    .paginationContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        margin-top: 20px;
        color: #545F7D;
        font-size: 14px;

        .paginationLeft {
            display: flex;
            align-items: center;
            gap: 10px;

            .selectWrapper {
                position: relative;
                background: rgba(33, 63, 125, 0.1);
                border-radius: 4px;
                display: flex;
                align-items: center;
                padding: 0 12px;
                min-width: 80px;
                height: 35px;

                select {
                    width: 100%;
                    border: none;
                    background: transparent;
                    color: #213F7D;
                    font-size: 14px;
                    font-weight: 500;
                    padding-right: 20px;
                    z-index: 2;
                    cursor: pointer;
                    outline: none;
                    appearance: none;           //to remove default arrow of browser
                    padding-right: 20px;
                    // position: absolute;
                    // right: 10px;
                    // top: 50%;
                    // transform: translate(-50%);
                    // pointer-events: none;
                }

                // custom arrow icon
                &::after {
                    content: "";
                    position: absolute;
                    right: 12px;
                    width: 10px;
                    height: 6px;
                    background: url('src/assets/dropdownIcon_single.svg') no-repeat center;
                    background-size: contain;
                    pointer-events: none;
                    z-index: 1;
                }
            }
        }

        .paginationRight {
            display: flex;
            align-items: center;
            gap: 5px;

            .arrowBtn {
                background: rgba(33, 63, 125, 0.1);
                border: none;
                border-radius: 4px;
                width: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                img {
                    width: 14px;
                }

                &:disabled {
                    opacity: 0.4;
                    cursor: not-allowed;
                }
            }

            .pageBtn {
                background: none;
                border:none;
                color: #545F7D;
                font-size: 16px;
                cursor: pointer;
                padding: 5px 8px;
                opacity: 0.6;

                &.activePage {
                    font-weight: 500;
                    opacity: 1;
                }

                &.ellipsis {
                    cursor: default;
                }
            }
        }
    }    
}

.loading {
    padding: 40px;
    font-size: 16px;
}