/*  Styles the reusable input fields.*/

.inputContainer {
    position:  relative;
    display: flex;
    align-items: center;
    width: 100%;

    .inputField {
        width: 100%;
        
        padding: 14px 16px;
        border: 2px solid rgba(84, 95, 125, 0.15);
        border-radius: 5px;
        font-size: 14px;
        outline: none;
        color: #213f7D;

        &::placeholder {
            color: rgba(84, 95, 125, 0.5)
        }

        &:focus {
            border-color: #39cdcc;
        }
    }

    .toggleButton {
        position: absolute;
        right: 15px;
        background: none;
        color: #39cdcc;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
        letter-spacing: 0.1em;
        padding: 5px;
        border: none;

        &:hover {
            // border-color: #39cdcc;
            opacity: 0.7;
        }
    }

}